body{

    margin: 0;
    margin-top: 110px;;

}

.navbar{

    background-color: rgb(255, 0, 0);
    height: 80px;
    margin-bottom: 30px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


}

.navbar > a, .dropdown, .dropdown a{

    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
    color: white ;

}

.navbar a:hover{

    background-color: coral;

}

.dropdown{

    display: none;

}

.dropdown div{

    background-color: blueviolet;
    border-radius: 4px;
    position: absolute;
    flex-direction: column;
    display: none;

}

.dropdown:hover div{

    display: block;
    display: flex;

}

.corpo{

    display: flex;
    margin: 0 30px;
    justify-content: right;

}

.lateral{

    background-color: rgb(255, 0, 0);
    height: calc(100vh - 130px);
    width: 200px;
    position: fixed;
    left: 30px;


}

.main{

    background-color: rgb(255, 230, 0);
    width: calc(100% - 230px);

}

@media (max-width: 800px){

    .lateral{

        display: none;

    }
    .main{

        background-color: aqua;
        width: 100%;

    }
    
}

@media (max-width: 550px){

    .navbar > a{

        display: none;

    }

    .dropdown{

        display: block;

    }

}
