body{

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu{

    background-color: rgb(255, 255, 255);
    height: 110px;
    margin-bottom: 10px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.menu > div{

    display: flex;
    height: 200%;
    align-items: center;
    gap: 50px;

}

.menu a{

    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 100 100px;
    height: 100%;
    display: flex;
    align-items: center;

}

.menu a:hover{

    text-decoration: underline;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    
}

.menu img{

    height: 100px;

}

.menu text{

    padding: 0 100px;

}

.menu input{

    border-radius: 7px;
    border: none;

}

.menu i{

    color:rgb(0, 0, 0)

}

.cards{

    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    padding: 170px;
    gap: 25px;

}

.cards a{

    color: #ffffff;
    text-decoration: none;

}

.cards > a{

    background-color: rgb(244, 244, 244);
    width: 200px;
    border: 5px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;

}

.cards > a:hover{

    background-color: rgb(255, 0, 0);

}

.cards > a > img{

    width: 100%;
    height: 130px;

}

.cards > a > div{

    background-color: rgb(20, 20, 20);
    height: 57px;
    display: flex;
    gap: 0px;

}

.cards > a > div > div{

    height: 38px;

}

.info div{

    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 40px 180px;
    height: 40px;
    border: 10px solid rgb(0, 0, 0);

}

.cont div{

    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 40px 0;
    border: 10px solid rgb(0, 0, 0);

}

.tudo div{

    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);

}

.tudo img{

    height: 100px;

}

.tudo div input{

    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);

}

.catalogo a{

    color: rgb(255, 0, 0);


}

.catalogo{

    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    gap: 8px;
    border: none;

}

.corpo{

    display: flex;
    margin: 0 30px;
    justify-content: right;

}

.lateral{


    height: calc(100vh - 130px);
    width: 200px;
    position: fixed;
    left: 30px;


}

.main{

    background-color: rgb(255, 230, 0);
    width: calc(100% - 230px);

}

@media (max-width: 800px){

    .lateral{

        display: none;

    }
    .main{

        background-color: aqua;
        width: 100%;

    }
    
}

@media (max-width: 550px){

    .menu > a{

        display: none;

    }

}


