body{

    margin: 0;
    margin-top: 110px;;

}

.menu{

    background-color: rgb(255, 255, 255);
    height: 110px;
    margin-bottom: 30px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


}

.menu img{

    height: 110px;
}

.menu a:hover{

    background-color: rgb(255, 255, 255);

}

.corpo{

    display: flex;
    margin: 0 30px;
    justify-content: right;

}

.lateral{


    height: calc(100vh - 130px);
    width: 200px;
    position: fixed;
    left: 30px;


}

.main{

    background-color: rgb(255, 230, 0);

}

@media (max-width: 800px){

    .lateral{

        display: none;

    }
    .main{

        background-color: aqua;
        width: 0%;

    }
    
}

@media (max-width: 550px){

    .menu > a{

        display: none;

    }

}

div a{

    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 100px;

}